@font-face {
    font-family: "Microbrew-Soft-Four";
    src: url("../fonts/Microbrew-Soft-Four.otf") format("opentype");
   }


   @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ntsvew');
    src:  url('../fonts/icomoon.eot?ntsvew#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?ntsvew') format('truetype'),
      url('../fonts/icomoon.woff?ntsvew') format('woff'),
      url('../fonts/icomoon.svg?ntsvew#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-plane:before {
    content: "\e900";
  }
  .icon-mail:before {
    content: "\e901";
  }
  .icon-phone:before {
    content: "\e902";
  }
  .icon-cart:before {
    content: "\e903";
  }
  